.App {
  text-align: center;
}

.listaQuirofanos{
  display:flex;
  flex-direction: column;
  flex:1;
  margin-top: 3rem;
}

.quirofano{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(46, 70, 43);
  color:white;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.quirofano button{
  color:white;
  background-color: rgb(129, 19, 19);
  border-radius: 20px;
  cursor: pointer;
}

.quirofano a{
  text-decoration: none;
  color:white;
}

.quirofano a:hover{
  cursor: pointer;
  color:Red;
}


.tarea{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(95, 32, 32);
  color:white;
  margin-top: 1rem;
  font-size: 1.5rem;
  cursor: pointer;

}
.tarea button{
  color:white;
  background-color: rgb(129, 19, 19);
  border-radius: 20px;
  cursor: pointer;
}